/* For laptops */
@media only screen and (min-width: 1200px) {

  .box {
    width: 50%;
  }

  p {
    max-width: 40em;
    padding: 30px;
    text-align: justify;
  }

  nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .nav1 {
    display: none;
  }
  
  .nav2 {
    grid-area: 1 / 1 / span 1 / span 1;
  }
  
  .nav3 {
    grid-area: 1 / 2 / span 1 / span 1;
  }

  .container1 {
    background-image: url("../assets/big-left-wave.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 100%;
  }

  .header-bkg {
    background-image: none;
  }

  .make-space {
    padding-top: 100px;
    padding-bottom: 300px;
  }

  .container2 {
    background-image: url("../assets/large-flat-wave.svg");
    background-color: rgb(230, 231, 229);
    background-repeat: no-repeat;
    background-position: right 28%;
    width: 100%;
  }

  .speaking-bkg {
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
  }
  
  #speaking a {
    padding: 0 10px 0 10px;
    margin: 0;
    margin-top: 30px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: auto;
  }

  #blog a {
    padding: 5px;
    width: 10em;
    height: 10em;
    margin: 30px 10px 10px 10px;
    text-align: center; 
    text-decoration: none;
  }
}