body {
  background: #FFFEFF;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: normal;
  font-size: 3em;
  letter-spacing: 1px;
  color: #0A2342;
}

h2, h3, p, a {
  font-family: 'Istok Web', sans-serif;
}

h2 {
  font-size: 1.875em;
  color: #0A2342;
  padding: 10px;
}

h3 {
  font-size: 1.2em;
  color: #0A2342;
}

p {
  font-size: 1em;
  color: #0A2342;
  padding: 10px;
}

article {
  margin: 0, auto;
  max-width: 100%;
  line-height: 1.5;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left {
  text-align: left;
  padding-left: 30px;
}

.right {
  text-align: right;
  padding-right: 30px;
}

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width: 100%;
}

.header-bkg {
  background-image: url('../assets/small-wave.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100%;
}

.about-bkg {
  background: #F0F7EE;
  background-image: url('../assets/side-wave-right.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.squash {
  margin-right: 100px;
}

.about-pic {
  width: 100%;
}

.skills-bkg {
  background-color: #FFFDF7;
  background-image: url('../assets/small-wave-right.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
}

#skills a {
  border: 2px solid #0A2342;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

#skills a:hover {
  background-color: #55CEA7;
}

.blog-bkg {
  background: #F0F7EE;
  background-image: url('../assets/small-blog-wave.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 220px;
}

.blog-intro {
  width: 80%;
  margin: 0 auto;
}

#blog a {
  border: 2px solid #0A2342;
  padding: 0;
  margin-top: 30px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  box-sizing : border-box;
}

#blog a:hover {
  background-color: #55CEA7;
}

#blog p {
  padding: 0;
  margin: 0;
  text-align: left;
}

#blog h3 {
  padding: 0;
  margin: 0;
}

.portfolio-bkg {
  background: #FFFEFF;
  background-image: url('../assets/small-wave.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 140px;
}

.link-pic {
  width: 100%;
  padding-top: 55.5%;
  display: block;
  background-size: 100%;
}

.link-pic2 {
  width: 75%;
  float: right;
  padding-top: 56%;
  display: block;
  background-size: 100%;
}

#portfolio1 {
  background-image: url("../assets/carrot-budget-app.png");
}

#portfolio2 {
  background-image: url("../assets/mountain-tales.png");
}

#portfolio h2 {
  text-align: center;
}

.portfolio2 {
  width: 80%;
  float: right;
  right: 0px;
  padding-bottom: 140px;
  display: block;
}

.contact-bkg {
  background: #F0F7EE;
  padding: 0;
  background-image: url('../assets/contact-wave.svg');
  background-repeat: no-repeat;
  background-position: left top;
  width: 100%;
}

form {
  width: 100%;
  padding: 10px;
  box-sizing : border-box;
}

fieldset {
  border: 2px groove #55CEA7;
  width: 100%;
  box-sizing : border-box;
  margin: 0 auto;
}

#contact h2 {
  padding-top: 80px;
  text-align: center;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin: 10px auto;
  display: inline-block;
  border: 1px solid #0A2342;
  box-sizing : border-box;
}

input[type=submit] {
  width: 100%;
  background-color:  #55CEA7;
  height: 40px;
  margin-top: 20px auto 0 auto;
  font-size: 1em;
}

a {
  color: #636161;
  padding: 5px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #636161;
}

a:hover {
  color: #0A2342;
}

nav {
  font-size: 1.2em;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.nav1 {
  grid-area: 1 / 1 / span 1 / span 1;
}

.nav2 {
  grid-area: 1 / 2 / span 1 / span 1;
}

.nav3 {
  grid-area: 1 / 3 / span 1 / span 1;
}

.nav4 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.nav5 {
  grid-area: 2 / 4 / span 1 / span 1;
}

.headshot {
  border-top-right-radius: 70%;
  border-bottom-left-radius: 70%;
}

.make-space {
  padding-top: 40px;
  padding-bottom: 150px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Istok Web', sans-serif;
}

li {
  padding: 10px;
  font-size: 1em;
}

footer p {
  text-align: center;
  font-size: 0.8em;
}

footer a {
  padding: 20px;
}