
/* For laptops */
@media only screen and (min-width: 1200px) {

  .box {
    width: 50%;
  }

  p {
    max-width: 36em;
    padding: 30px;
  }

  .container1 {
    background-image: url("../assets/big-left-wave.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 100%;
  }

  .header-bkg {
    background-image: none;
  }

  .make-space {
    padding-top: 100px;
    padding-bottom: 300px;
  }

  .squash {
    margin-left: 100px;
    text-align: right;
  }

  .container2 {
    background-image: url("../assets/big-wave-right.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
  }

  .skills-bkg {
    
    padding-bottom: 100px;
  }
  
  #skills a {
    border: 2px solid #0A2342;
    padding: 0 10px 0 10px;
    margin: 0;
    margin-top: 30px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width: auto;
  }
  
  #skills a:hover {
    background-color: #55CEA7;
  }

  #blog a {
    border: 2px solid #0A2342;
    padding: 5px;
    width: 10em;
    height: 10em;
    overflow: scroll;
    margin: 30px 10px 10px 10px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    box-sizing : border-box;
  }
  
  #blog a:hover {
    background-color: #55CEA7;
  }

  .container3 {
    background-image: url("../assets/big-left-wave.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 100%;
  }

  .contact-bkg {
    width: 50%;
  }

  .portfolio-bkg {
    padding-bottom: 300px;
  }
}