
/* For tablets */
@media only screen and (min-width: 900px) {
  /* make a floating nav bar for the bigger screens? */

  div {
    margin: 0;
  }

  .make-space {
    padding-top: 150px;
    padding-bottom: 300px;
  }
 
}